body
{
	margin: 0;
	padding: 0;
	height: 100vh;
}
#particles-js
{
	height: 100%;
	background: linear-gradient(firebrick,steelblue);
	background-color: steelblue;
	background-blend-mode: overlay;
}

.prof-box{
	position: absolute;
	height: 300px;
	width: 700px;
	padding: 20px;
	color: white;
	margin: 0 auto;
	margin-top: 100px;
	margin-left: 25%;
	text-align: center;
	vertical-align: middle;
	line-height: 20px;  
}

h1{
	font-weight: 100;
	letter-spacing: 8px;
	font-size: 40px;
	font-family: Consolas;
}

h5{
	font-size: 20px;
	font-weight: 10;
	letter-spacing: 3px;
}

p{
	font-size: 20px;
	font-weight: 5;
	letter-spacing: 1px;
	line-height: 22px;
}

.social-icons{
	font-size: 50px;
}

.social-icons a {
	color: white;
}

.line-break{
	width: 700px;
	border-top: 1px solid;
}