body
{
	margin: 0;
	padding: 0;
	height: 100vh;
}
.borders{
	position:fixed;
	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 10px;
	border: 5px solid rgba(255,255,255,0.1);
}

#particles-js
{
	position: fixed;
	height:100%;
	width:100%;

	left: 0;
	top:0;
	background: linear-gradient(firebrick,steelblue);
	background-color: steelblue;
	background-blend-mode: overlay;
}

h1{
	position: fixed;
	left: 50%;
	top:23%;
	transform: translateX(-50%) translateY(-50%);
	color:red;
	font-weight: 9;
	letter-spacing: 8px;
	font-size: 0.6cm;
	text-align: center;
	font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}
h5{
	left: 50%;
	top:27%;
	transform: translateX(-50%) translateY(-30%);

	font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
	color: white;
	width:100%;
	padding:0;
	line-height:1.25;
	position:absolute;
	z-index: 98;
	text-align: center;
	font-weight: 100;
	letter-spacing: 8px;
	font-size: 30px;
}

p{
	position: fixed;
	left: 50%;
	top:43%;
	transform: translate(-50%,-43%);
	text-align: center;
	font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
	color: white;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 22px;
	white-space: nowrap;
	overflow: hidden;
}

.social-icons{
	position: fixed;
	left:50%;
	top:54%;
	transform: translate(-50%,-54%);
	text-align: center;
	font-size: 50px;
}

.social-icons a {
	color: white;
}

@media (max-width: 767px) {
	h1{
		font-size:0.5cm;
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
		transition: all .4s ease-in-out;
		-webkit-transition: all .4s ease-in-out;
		font-weight: bold;
	}
	h5{
		text-decoration: none;
		transition: all .4s ease-in-out;
		-webkit-transition: all .4s ease-in-out;
		font-size: 0.6cm;
		font-weight: 200;
	}
	p{
		font-weight:300;
	}
	.social-icons{
		white-space: nowrap;
		overflow: hidden;
	}
  }
 }